{% if site.google_analytics.measurement_id and site.google_analytics.measurement_id != '' %}
<!-- Google Analytics 4: public website only. -->
<script>
    (function () {
        var allowedHosts = {{ site.google_analytics.hostnames | jsonify }};
        if (!allowedHosts || allowedHosts.indexOf(window.location.hostname) === -1) return;

        var measurementId = {{ site.google_analytics.measurement_id | jsonify }};
        window.dataLayer = window.dataLayer || [];
        window.gtag = window.gtag || function () { window.dataLayer.push(arguments); };
        window.gtag('js', new Date());
        window.gtag('config', measurementId, {
            allow_google_signals: false,
            allow_ad_personalization_signals: false
        });

        var tag = document.createElement('script');
        tag.async = true;
        tag.src = 'https://www.googletagmanager.com/gtag/js?id=' + encodeURIComponent(measurementId);
        document.head.appendChild(tag);
    })();
</script>
{% endif %}
